<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="layout/basic">
<th:block layout:fragment="title">


    <title>상세 페이지</title>
</th:block>

<th:block layout:fragment="content">
    <div class="page_tits" style="margin-top:10px; margin-left:10px;">
        <h3><strong>게시판 관리</strong></h3>
       
    </div>

    <div class="content" style="margin: 50px;">
        <section>
            <table class="tb tb_row">
                <colgroup>
                    <col style="width:10%;" /><col style="width:23%;" /><col style="width:10%;" /><col style="width:23%;" />
                </colgroup>
                <tbody  >
                    <tr >
                       
                      
                    </tr>
                    <tr>
                        <th scope="row" style="background-color:Dimgray; color:white;"  >제목</th>
                        <td colspan="3" >[[ ${post.title} ]]</td>
                        
                       
                        
						<!-- 
                        <th scope="row">조회</th>
                        <td colspan="3">[[ ${post.viewCnt} ]]</td>
                         -->
                    </tr>
                    <tr>
                        <th scope="row" style="background-color:Dimgray; color:white;" >이름</th>
                        <td colspan="3" >[[ ${post.writer} ]]</td>
                        
                   
                    </tr>
                    <tr>
                    	        <th scope="row" style="background-color:Dimgray; color:white;" >등록일</th>
                        <td colspan="3" th:text="${#temporals.format( post.createdDate, 'yyyy-MM-dd HH:mm' )}"></td>
                    </tr>
                    <tr height="250">
                        <th scope="row" style="background-color:Dimgray; color:white;" >내용</th>
                        <td colspan="3" >[[ ${post.content} ]]</td>
                    </tr>
                </tbody>
            </table>
            <p class="btn_set">

			
                
                <a href="javascript: void(0);" onclick="goWritePage();" class="btns btn_bdr4 btn_mid" th:if="${#authentication.name == post.writer}" >수정</a>
                <button type="button"  onclick="deletePost();" class="btns btn_bdr1 btn_mid" th:if="${#authentication.name == post.writer || #authentication.name == 'admin' }">삭제</button>  
                
                <a href="javascript: void(0);" onclick="goListPage();" class="btns btn_bdr3 btn_mid">뒤로</a>
 
            </p>
        </section>
    </div> <!--/* .content */-->
    
    
    
    
    
    <th:block layout:fragment="script">
  <script th:inline="javascript">
  

    /*<![CDATA[*/
    	
    	function getCommentList(){
    	
    
    	const queryString =	new URLSearchParams(location.search)
    	
    	console.log(queryString.get('id'));
    	
    	
    	
    	
    	
    	
    }

    	
    	//리스트 되돌아가가기
    	    function goListPage() {
        const queryString = new URLSearchParams(location.search);
        queryString.delete('id');
        
        location.href = '/post/list.do' + '?' + queryString.toString();
    }
    	
    
    
    
    
    
    
    	    // 게시글 수정 페이지로 이동
    	    function goWritePage() {
    	        location.href = '/post/write.do' + location.search;
    	    }
    	
    	
    	
    	
    	
    	    // 게시글 삭제
    	    function deletePost() {
    	        const id = [[ ${post.id} ]];
    	        if ( !confirm(id + "번 게시글을 삭제할까요?") ) {
    	            return false;
    	        }

    	        let inputHtml = '';

    	        new URLSearchParams(location.search).forEach((value, key) => {
    	            inputHtml += `<input type="hidden" name="${key}" value="${value}" />`;
    	        })

    	        const formHtml = `
    	            <form id="deleteForm" action="/post/delete.do" method="post">
    	                ${inputHtml}
    	            </form>
    	        `;

    	        const doc = new DOMParser().parseFromString(formHtml, 'text/html');
    	        const form = doc.body.firstChild;
    	        document.body.append(form);
    	        document.getElementById('deleteForm').submit();
    	    }
    	/*
    // 게시글 삭제
    function deletePost() {
      const id = [[ ${post.id} ]];

      if ( !confirm('게시글을 삭제할까요?') ) {
        return false;
      }

      const formHtml = `
          <form id="deleteForm" action="/post/delete.do" method="post">
              <input type="hidden" id="id" name="id" value="${id}" />
          </form>
      `;
      const doc = new DOMParser().parseFromString(formHtml, 'text/html');
      const form = doc.body.firstChild;
      document.body.append(form);
      document.getElementById('deleteForm').submit();
    }
    	*/

    /*]]>*/
  </script>
    
    
    
    
    
    
    
    
    
    
</th:block>
</html>